.heading{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    color: white;
    position: sticky;
    top: 0;
    

}

h2{
    margin-left: 15px;
}

.heading a{
    color:white;
    text-decoration: inherit;
}
.heading .left{
    margin-left: 10px;
}
 /* .heading .right{
    display: flex;
    margin-right: 40px;
    align-items: center;
    gap: 7px;
   
} */

.nav a:visited{
    color: white;
}
.nav{
    display: flex;
    margin-right: 40px;
    align-items: center;
    gap: 7px;  
    font-size: 20px;
}

li a:visited,li a{
    color: blue;
}
li a:hover{
    text-decoration: underline;
}
li a:active{
    font-style: italic;
    border:1cm;
    border-color: burlywood;
}





.hero{
    color: white;
    height: 400px;
    background-image: url("./img/compliance-blog.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
}
.heroContent{
    margin: 50px;
}
.hero .heroH1{
    display: flex;
}
.heroH1 .highlighted{
    color: orange;
}
.main{
    margin: 0;
}
.content .section{
    height: 300px;
    width: 280px;
}
.content .section-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6em;
    margin: 10px;
    margin: 100px;
}
.title{
    font-weight: bold;
    font-size: 30px;
}


.section ul{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    white-space: nowrap;
    font-size: 21px;
}
.section a{
    text-decoration: none;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



