*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;


}

h1{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;

}

p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;

}

button{
    size: 10px;
    background-color: azure;
    color: black;
    padding: 10px;
    margin: 5px;

}

